      body {
        background-color: rgb(100,149,237);
      }

      #panel {
        background-color: rgb(238,233,233);
      }

      #sidePanel {
        margin-top: 50px;
      }
      
      .fixed-height {
        overflow-y: auto;
        min-height: 900px;
      }

      .btnRoute {
        width: 75px;
      }

      #streets path {
        stroke: rgb(200,200,200);
        fill: rgb(245,243,238);
      }

      #arteries path, #freeways path {
        stroke: rgb(127,127,127);
        stroke-width: 1px;
        fill: rgb(245,243,238);
      }

      #neighborhoods path {
        fill: rgb(245,243,238);
        stroke: gray;
      }

      g.paths path {
        opacity: 0.4;
        fill: none;
        stroke-width: 3px;
      }

      .vehicle {
        opacity: 0.8;
      }

      div.tooltip {
        position: absolute; 
        text-align: left; 
        padding: 2px; 
        font: 12px sans-serif;  
        background: lightsteelblue; 
        border: 0px;          
        border-radius: 8px;
      }